@import '~antd/dist/antd.css';

.App {
	text-align: left;
}

.header {
	background: white !important;
}

.headerText {
	text-align: center;
	font-size: 300%;
	font-weight: bold;
}

.neighborhoodName {
	font-size: 125%;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 24px;
}

.rowHeader {
	margin-left: 12px;
	text-decoration: underline;
}

.selecter {
	min-width: 160px;
}

.siderHeader {
	font-size: 150%;
	text-decoration: underline;
	color: white;
	margin-top: 40%;
	margin-bottom: 10%;
}

.statsRow {
	padding-bottom: 8px;
}
